@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  background-color: #ffffff !important;
}
.hide-scrollbar {
  overflow: -moz-scrollbars-none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}


/* View Transition Animation */
::view-transition-old(root) {
  animation: slide-out 0.3s forwards ease-in-out;
}

::view-transition-new(root) {
  animation: slide-in 0.3s forwards ease-in-out;
}

/* Keyframes for the sliding effect */
@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}


@keyframes progress-animation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
